.tooltip {
  position: relative;
  border-bottom: 1px dotted #666;
}

.tooltip::before {
  content: attr(data-tooltip);
  font-size: 13px;
  position: absolute;
  left: 0%;
  bottom: 100%;
  background: #ffffff;
  box-shadow: 0 0 20px rgb(0 0 0 / 15%);
  padding: 5px 10px;
  opacity: 0;
  color: #000;
  z-index: 5;
  border-radius: 5px;
  transition: 100ms opacity;
  width: 168px;
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
}

.tooltip::after {
  content: "";
  position: absolute;
  left: 25%;
  bottom: 92%;
  width: 8px;
  height: 8px;
  background: #d4edf4;
  opacity: 0;
  transform: rotate(45deg);
  transition: 100ms opacity;
}

.tooltip:hover::before,
.tooltip:hover::after {
  opacity: 1;
}
